@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');



.cabecalio{
  display:flex;
  justify-content:space-between
  
}

body{
background-image: url(https://media.istockphoto.com/photos/monochrome-vintage-low-quality-brick-wall-background-with-vignette-picture-id682596694?k=20&m=682596694&s=170667a&w=0&h=4e5Kq8DpEciPkHaEg_XF45TWY5788R58M6UCOGNqboU=);  
  font-family: 'Diplomata', cursive;
}

.container{
  background-image:url(https://media.istockphoto.com/photos/monochrome-vintage-low-quality-brick-wall-background-with-vignette-picture-id682596694?k=20&m=682596694&s=170667a&w=0&h=4e5Kq8DpEciPkHaEg_XF45TWY5788R58M6UCOGNqboU=);
  color:#000000;
  margin:64px;
  border-radius:30px;
  box-shadow:6px 6px 6px #1C1C1C;
  padding:64px;
}
.perfil {
	display: flex;
	
}

.perfil-foto{
  border-radius:400px;
  max-height:250px;
   box-shadow:6px 6px 6px #000000;
}
.titulo{
  margin-left:16px;
}
.titulo h1{
  font-weigth: 400; 
  font-size:32px;
  
}

.titulo h3{
  font-weigth: 400; 
  font-size:17px;
  }
.tema button{
  aling-self:flex-end;
  border-radius:100px;
  font-size:10px;
  font weigt:400px;
  padding:10px,18px;
  background:#ecf4ff;
  border-radius:30px;
  box-shadow:6px 6px 6px #000000;
  font-family: 'Diplomata', cursive;
}
.projetos{
  max-height: 300px;
  display:flex;
  flex-direction:column;
  overflow-y: scroll;
  scrollbar-width: thin;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
 }

.fundo-porjetos{
  padding:20px;
  margin-top:20px;
 background-image:url(https://media.istockphoto.com/photos/monochrome-vintage-low-quality-brick-wall-background-with-vignette-picture-id682596694?k=20&m=682596694&s=170667a&w=0&h=4e5Kq8DpEciPkHaEg_XF45TWY5788R58M6UCOGNqboU=);
  border-radius:30px;
  box-shadow:6px 6px 6px #000000;
  }

a{
  text-decoration: none;
  color: red;
  overflow: hidden;
   
}
.projetos-titulo{
  list-style: none;
  margin:10px;
  padding:10px;
  font-size:20px;
  }

li{
  padding:16px;
  list-style-type:none;
  line-height:30px;
}

.dark{
background-image: url(https://i.pinimg.com/736x/d4/5f/66/d45f666d8fc0905da28f1c1fe055520e.jpg);
}

.dark .container{
 background-image: url(https://i.pinimg.com/736x/d4/5f/66/d45f666d8fc0905da28f1c1fe055520e.jpg);
    color: #9dadc9;
  }
.dark .projetos{
  color: #9dadc9;
}
.dark .fundo-porjetos{
  padding:20px;
  margin-top:20px;
 background-image:url(https://i.pinimg.com/736x/d4/5f/66/d45f666d8fc0905da28f1c1fe055520e.jpg);
  border-radius:30px;
  box-shadow:6px 6px 6px rgb(254, 255, 255);
  }

.dark .tema button {
  color: #9dadc9;
  background: #333439;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #F7F7F7;
}

::-webkit-scrollbar{
width: 5px;
height: 5px;
}

::-webkit-scrollbar-thumb{
background: #1C1C1C;
border: 1.8px solid #1C1C1C;
border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover{
background: #ECF4FF;
}

::-webkit-scrollbar-track{
background: #ECF4FF;
border-radius: 100px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
margin: 15px 0px;
}
footer{
	position:auto;
  color:black;
  background-image:url(https://http2.mlstatic.com/D_NQ_NP_869029-MLB44586203012_012021-W.jpg);
  border-radius:20px;
  top: 0px;
  bottom: 0px;
  display: block;
  min-height: 100px;
  width: 100%;
   height:auto;
  
}